/venom-injecter/.vs
/venom-injecter/Simple dll-injector.vcxproj.filters
/venom-injecter/Simple dll-injector.vcxproj.user
/venom-injecter/Simple dll-injector.vcxproj
/venom-injecter/Release
/venom-injecter/x64
